.card1{
    position:absolute;
    top: 25%;
    left: 30%;
    width: 1200px;
    height: Auto;
    padding: 0 40px 0px 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.button-show-list{
}
.button-back-to-login1{
}

.table{
    position: relative;
    padding: 10px 0px 30px;
}


.inspect-link1{
    color: rgb(32, 69, 255);
}

.loader {
    position: relative;
    display: flex;
    left: 420px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
}