.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    position:absolute;
    top: 25%;
    left: 45%;
    width: 400px;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

}

.card h2 {
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
}

.user-box{
    margin: 10px 25px 30px;
    padding: 0;
    text-align: center;
}

.button-login{
    margin: 30px 0 25px;
    padding: 0;
    text-align: center;
}


.error{
    position: relative;
    top: -15px;
    font-size: x-small;
    color: rgb(255, 55, 55);
}

