#root {
  width: 1920px;
  height: 1080px;
  top: 1178px;
  left: -751px;
  /*padding: 100px 392px 560px 100px;*/
}


.header{

  height: 135px;
  width: 100%;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid #ffffff;
  text-align: left;
}


.text{
  position: relative;
  left: 3%;
}


