.card1{
    position:absolute;
    top: 25%;
    left: 30%;
    width: 1200px;
    height: Auto;
    padding: 0 40px 0px 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.button-back-to-login{
    position: relative;
    left: 965px;
}

.table{
    position: relative;
    padding: 10px 0px 30px;
}


.inspect-link{
    color: rgba(26, 26, 26, 0.71);
    pointer-events: none;
}

.loader{
    position: relative;
    display: flex;
    left: 420px;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}